name: Post-processing


# don't limit to main branch
# consider maintenance branch
on:
  push:
    branches:
      - 'release-branch.**'
      - main


jobs:
  post-processing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout to website
        uses: actions/checkout@v4
        with:
          ref: website
          path: .website

      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main
          path: .main


      - name: Copy llpkgstore.json to root
        continue-on-error: true
        run: |
          # ignore error
          ls .website .website/public
          cp .website/public/llpkgstore.json .main
          rm -rf .website

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.23"
      - name: Skip Cache Parser Tool
        run: |
          go env -w GOPRIVATE=github.com/MeteorsLiu/llpkgstore
      - name: Set up Parser Tool
        run: |
          go install -v github.com/MeteorsLiu/llpkgstore/cmd/llpkgstore@gha-test
      - name: Run post-processing process
        working-directory: .main
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          llpkgstore postprocessing

      - name: Checkout website branch
        uses: actions/checkout@v4
        with:
            ref: website
            path: .website

      - name: Move llpkgstore.json to website
        run: |
            mv .main/llpkgstore.json .website/public

      - name: Commit and push changes
        working-directory: .website
        run: |
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"
            git add public/llpkgstore.json
            git commit -m "Update llpkgstore.json"
            git push
  rebuild-github-pages:
    runs-on: ubuntu-latest
    needs: [post-processing]
    strategy:
        matrix:
            node-version: [23.8.0]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
            ref: website
            node-version: ${{ matrix.node-version }}
      - run: corepack enable
      - name: Install Dependencies
        uses: borales/actions-yarn@v4
        with:
            cmd: install
      - name: Build
        uses: borales/actions-yarn@v4
        with:
            cmd: build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
            path: 'dist'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4