name: Verify Go Module

# don't limit to main branch
# consider maintenance branch
on:
  pull_request:
    branches:
      - 'release-branch.**'
      - main
    paths-ignore:
      - '.github/**'
      - LICENSE
      - README.md
      - '.gitignore'

jobs:
  llcppg-verification:
    name: Verify Go Module
    strategy:
      matrix:
        os:
          - macos-13
          - macos-latest
          - ubuntu-24.04
          - ubuntu-24.04-arm
        llgo: [87c7b65223eea16ade3ad1de4079bf2a20d20b1b]
        llcppg: [v0.5.0]

    runs-on: ${{matrix.os}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check out LLGo
        uses: actions/checkout@v4
        with:
          repository: 'goplus/llgo'
          path: .llgo
          ref: ${{matrix.llgo}}
      - name: Check out LLCppg
        uses: actions/checkout@v4
        with:
          repository: 'goplus/llcppg'
          path: .llcppg
          ref: ${{matrix.llcppg}}
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.23.x
      - name: Set up Tool
        run: |
          go install -v github.com/goplus/llpkgstore/cmd/llpkgstore@latest
      - name: Install dependencies
        if: startsWith(matrix.os, 'macos')
        run: |
          brew install llvm@19 bdw-gc openssl libffi libuv cmake cjson conan lld@19
          brew link --force libffi
          echo "$(brew --prefix llvm@19)/bin" >> $GITHUB_PATH
          echo "$(brew --prefix lld@19)/bin" >> $GITHUB_PATH
      - name: Install dependencies
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          echo "deb http://apt.llvm.org/$(lsb_release -cs)/ llvm-toolchain-$(lsb_release -cs)-19 main" | sudo tee /etc/apt/sources.list.d/llvm.list
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          sudo apt-get install -y python3 libcjson-dev python3-pip llvm-19-dev libuv1-dev clang-19 libunwind-dev libclang-19-dev lld-19 cmake pkg-config libgc-dev libssl-dev zlib1g-dev libffi-dev libcjson-dev
          echo "/usr/lib/llvm-19/bin" >> $GITHUB_PATH
          python3 -m pip install conan
      - name: Set up Conan
        run: |
          conan profile detect
      - name: Setup LLGo
        working-directory: .llgo
        run: |
          go install -v ./cmd/llgo/...
          export LLGO_ROOT=$GITHUB_WORKSPACE/llgo
          echo "LLGO_ROOT=$LLGO_ROOT" >> $GITHUB_ENV
      - name: Setup LLCppg
        working-directory: .llcppg
        run: |
          llgo install ./_xtool/llcppsymg
          llgo install ./_xtool/llcppsigfetch
          go install github.com/goplus/llcppg/cmd/llcppcfg@${{matrix.llcppg}}
          go install github.com/goplus/llcppg/cmd/gogensig@${{matrix.llcppg}}
          go install github.com/goplus/llcppg@${{matrix.llcppg}}
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v45
      - name: Checkout to website
        uses: actions/checkout@v4
        with:
          ref: website
          path: .website
      - name: Copy llpkgstore.json to root
        continue-on-error: true
        run: |
          ls .website .website/public
          cp .website/public/llpkgstore.json .
          rm -rf .website
      - name: Verification & Prebuilt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: llpkgstore verification
      - name: Run demotest process
        env:
          LLPKG_PATH: ${{ env.LLPKG_PATH }}
        run: llpkgstore demotest
