name: Verify Go Module


# don't limit to main branch
# consider maintenance branch
on:
  pull_request:
    branches:
      - 'release-branch.**'
      - main


jobs:
  llcppg-verification:
    name: Verify Go Module
    strategy:
      matrix:
        os:
          - ubuntu-24.04
        llvm: [18]
    runs-on: ${{matrix.os}}

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4


      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.23"
      - name: Skip Cache Parser Tool
        run: |
          go env -w GOPRIVATE=github.com/MeteorsLiu/llpkgstore
      - name: Set up Parser Tool
        run: |
          go install -v github.com/MeteorsLiu/llpkgstore/cmd/llpkgstore@gha-test
          go install -v github.com/MeteorsLiu/llpkgstore/cmd/demotest@gha-test
      - name: Install dependencies
        run: |
          echo "deb http://apt.llvm.org/$(lsb_release -cs)/ llvm-toolchain-$(lsb_release -cs)-${{ matrix.llvm }} main" | sudo tee /etc/apt/sources.list.d/llvm.list
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip llvm-${{ matrix.llvm }}-dev libuv1-dev clang-${{ matrix.llvm }} libunwind-dev libclang-${{ matrix.llvm }}-dev lld-${{ matrix.llvm }} cmake pkg-config libgc-dev libssl-dev zlib1g-dev libffi-dev libcjson-dev
          echo "/usr/lib/llvm-${{ matrix.llvm }}/bin" >> $GITHUB_PATH
          python3 -m pip install conan
      - name: Install LLGO
        run: |
          git clone https://github.com/goplus/llgo.git
          echo $PWD
          cd llgo/compiler
          go install -v ./cmd/...
          export LLGO_ROOT=$GITHUB_WORKSPACE/llgo
          echo "LLGO_ROOT=$LLGO_ROOT" >> $GITHUB_ENV
      - name: Install LLCppg
        run: |
          git clone -b v0.1.0 https://github.com/goplus/llcppg.git
          echo $PWD
          cd llcppg
          llgo install ./_xtool/llcppsymg
          llgo install ./_xtool/llcppsigfetch
          go install github.com/goplus/llcppg/cmd/llcppcfg@v0.1.0
          go install github.com/goplus/llcppg/cmd/gogensig@v0.1.0
          go install github.com/goplus/llcppg@v0.1.0
      - name: Check Tools
        run: |
          conan -v
          llcppg -help
          llgo -help

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v45

      - name: Verfication
        id: gen-go-module
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          llpkgstore verification

      - name: Run Demotest process
        env:
          LLPKG_PATH: ${{ env.LLPKG_PATH }}
        run: |
          demotest run
